@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inset: var(--inset);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-table-cell-selected-background: var(--table-cell-selected-background);
  --color-table-cell-selected-border: var(--table-cell-selected-border);
}
:root {
  --background: oklch(0.98 0 0);
  --inset: oklch(0.98 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.145 21.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --radius: 1rem;
  --table-cell-selected-background: var(--color-blue-400);
  --table-cell-selected-border: var(--color-blue-500);
}

.dark {
  --background: oklch(0.145 0 0);
  --inset: oklch(18.83% 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(20% 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.412 0.16 25.723);
  --destructive-foreground: oklch(1 0.165 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.15 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --radius: 1rem;
  --table-cell-selected-background: var(--color-blue-700);
  --table-cell-selected-border: var(--color-blue-600);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .group\/rdg-root {
    block-size: 100% !important;
  }
}

@layer components {
  .grid-area-1-1 {
    grid-area: 1 / 1;
  }
}

@layer rdg {
  .rdg {
    @apply font-mono bg-inset text-foreground;
    color-scheme: unset;
  }

  /* .rdg-text-editor {
    block-size: 100%;
  } */

  .rdg-header-row {
    @apply bg-inherit;
  }

  .rdg-header-row .rdg-cell {
    @apply sticky! flex items-center px-2;
  }

  .rdg-row {
    @apply bg-inherit;
  }

  .rdg-row:hover .rdg-cell,
  .rdg-row[aria-selected="true"] .rdg-cell {
    @apply relative overflow-visible bg-muted/35;
  }

  .rdg-cell {
    @apply relative select-none content-normal overflow-visible border-b border-r border-border p-0 tracking-wider;
  }

  .rdg-header-row .rdg-cell {
    @apply z-3;
  }

  .rdg-cell:has(.cell-edited) {
    @apply relative overflow-visible;
  }

  .rdg-cell:has(.cell-edited):before {
    @apply pointer-events-none absolute -inset-1 z-1 border border-red-500! content-[""];
  }

  .rdg-cell[aria-selected="true"] {
    @apply outline-2! outline-transparent! outline-offset-2!;
  }

  .rdg-row .rdg-cell[aria-selected="true"] {
    @apply bg-table-cell-selected-background/15!;
  }

  .rdg-row .rdg-cell[aria-selected="true"]:before {
    @apply absolute -inset-px pointer-events-none z-2 border-2 content-[""]! border-table-cell-selected-border!;
  }

  .rdg-row[aria-rowindex="2"] .rdg-cell[aria-selected="true"]:before {
    @apply border-t-3!;
  }
  .rdg-cell[aria-colindex="1"][aria-selected="true"]:before {
    @apply border-l-3!;
  }
  .rdg {
    @apply px-0 pb-0 border-none;
  }
}
